<div class="container-fluid" ng-controller="visitsController">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Visits</h4>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th class="col-md-1">
            Date
          </th >
          <th class="col-md-1">
            Time
          </th>
          <th class="col-md-1">
            Status
          </th>
        </tr>
        <tr ng-repeat="visit in users | showVisitFilter:currentUser">
          <td class="col-md-1" style="vertical-align:middle;">
            {{visit.date}}
          </td>
          <td class="col-md-1" style="vertical-align:middle;">
            {{visit.time}}
          </td>
          <td class="col-md-1" style="vertical-align:middle;">
            {{visit.status}} &nbsp;&nbsp;&nbsp;
            <img ng-show="visit.status == 'unconfirmed'" src="img/waiting.png" width="40" height="40"/>
            <img ng-show="visit.status == 'confirmed'" src="img/accept.png" width="40" height="40"/>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <button class="btn btn-success" aria-label="New visit" ng-click="showNewModal()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true" access="{{'add-'+obj}}"></span> New order
  </button>

  <!-- Modal windows section -->

  <!-- New visit -->
  <div class="modal fade" id="newVisit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New order</h4>
        </div>
        <div class="modal-body">
          <form role="form" data-toggle="validator" name="visit">
            <div class="form-group date">
              <label for="date"><b>Date</b></label>
              <input type="text" ng-model="visit.date" data-provide="datepicker" data-date-format="dd.mm.yyyy" class="form-control" id="date" placeholder="20.04.2016" required pattern="\d{1,2}\.\d{1,2}\.\d{4}">
            </div>
            <div class="form-group has-feedback">
              <label for="time"><b>Time</b></label>
               <input type="text" class="form-control" id="time" placeholder="12:00" ng-model="visit.time" required pattern="\d{2}:\d{2}">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newVisit(visit)">Add</button>
        </div>
      </div>
    </div>
  </div>
  
</div>