<div class="container-fluid" ng-controller="visitsController">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Uncorfirmed visits</h4>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th class="col-md-2">
            Date
          </th >
          <th class="col-md-2">
            Time
          </th>
          <th class="col-md-2">
            Patient
          </th>
          <th class="col-md-2">
            Status
          </th>
          <th>
          </th>
          <th>
          </th>
        </tr>
        <tr ng-repeat="visit in users | filter:{status: 'new'}"> <!-- This should be done just for unconfirmed visits-->
          <td class="col-md-2" style="vertical-align:middle;">
            {{visit.date}}
          </td>
          <td class="col-md-2" style="vertical-align:middle;">
            {{visit.time}}
          </td>
          <td class="col-md-2" style="vertical-align:middle;">
            {{visit.patient_id}}
          </td>
          <td class="col-md-2" style="vertical-align:middle;">
            {{visit.status}} &nbsp;&nbsp;&nbsp;
            <img ng-show="visit.status == 'new'" src="img/waiting.png" width="40" height="40"/>
            <img ng-show="visit.status == 'confirmed'" src="img/accept.png" width="40" height="40"/>
          </td>
          <td style="vertical-align:middle;">
            <button class="btn btn-default btn-sm" ng-click="showEditModal(visit)" access="{{'edit-'+obj}}">Edit</button>
          </td>
          <td style="vertical-align:middle;">
            <button class="btn btn-danger btn-sm" ng-click="deleteObject(visit)" access="{{'delete-'+obj}}">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="pull-left">Confirmed visits</h4>
      <button class="btn btn-success pull-right" aria-label="New visit" ng-click="showNewModal()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true" access="{{'add-'+obj}}"></span> New Visit
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th class="col-md-2">
            Date
          </th >
          <th class="col-md-2">
            Time
          </th>
          <th class="col-md-2">
            Patient
          </th>
          <th class="col-md-2">
            Status
          </th>
          <th>
          </th>
          <th>
          </th>
        </tr>
        <tr ng-repeat="visit in users | filter:{status: 'confirmed'}"> <!-- This should be done just for confirmed visits-->
          <td class="col-md-2" style="vertical-align:middle;">
            {{visit.date}}
          </td>
          <td class="col-md-2" style="vertical-align:middle;">
            {{visit.time}}
          </td>
          <td class="col-md-2" style="vertical-align:middle;">
            {{visit.patient_id}}
          </td>
          <td class="col-md-2" style="vertical-align:middle;">
            {{visit.status}} &nbsp;&nbsp;&nbsp;
            <img ng-show="visit.status == 'new'" src="img/waiting.png" width="40" height="40"/>
            <img ng-show="visit.status == 'confirmed'" src="img/accept.png" width="40" height="40"/>
          </td>
          <td style="vertical-align:middle;">
            <button class="btn btn-default btn-sm" ng-click="showEditModal(visit)" access="{{'edit-'+obj}}">Edit</button>
          </td>
          <td style="vertical-align:middle;">
            <button class="btn btn-danger btn-sm" ng-click="deleteObject(visit)" access="{{'delete-'+obj}}">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Modal windows section -->
  
  <!-- Edit visit -->
  <div class="modal fade" id="editVisit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Visit</h4>
        </div>
        <div class="modal-body">
          <form role="form" data-toggle="validator">
            <div class="form-group date">
              <label for="date">Date</label>
              <input type="text" data-provide="datepicker" class="form-control" id="date" placeholder="Date" ng-model="visit.date" required>
            </div>
            <div class="form-group has-feedback">
              <label for="time">Time</label>
              <input type="text" class="form-control" id="time" placeholder="hh:mm" ng-model="visit.time" required>
            </div>
            <div class="form-group has-feedback">
              <label for="status">Status</label>
              <select ng-model="visit.status">
                <option style="background-image: url('/img/accept.png');" value="confirmed"> confirmed</option>
                <option style="background-image: url('/img/waiting.png');" value="new"> unconfirmed</option>
              </select>
            </div>
            <label for="sel_patient">Patient:</label>
            <select name="visitPatient" ng-model="visit.patient_id" class="form-control" id="sel_patient">
                <option ng-repeat="user in allUsers | filter:{role: 'patient'}" ng-selected="visit.patient_id == user.id ? true : false" value="{{user.id}}">{{user.name}}</option>
            </select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="editObject(visit)" ng-disabled="form.$invalid">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- New visit -->
  <div class="modal fade" id="newVisit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Visit</h4>
        </div>
        <div class="modal-body">
          <form role="form" data-toggle="validator">
            <div class="form-group date has-feedback">
              <label for="date" class="control-label">Date</label>
              <input type="text" ng-model="visit.date" data-provide="datepicker" class="form-control" id="date" placeholder="Date" required>
            </div>
            <div class="form-group has-feedback">
              <label for="time">Time</label>
               <input type="text" class="form-control" id="time" placeholder="hh:mm" ng-model="visit.time" required>
            </div>
            <label for="sel_patient">Patient:</label>
            <select name="visitPatient" ng-model="visit.patient_id" class="form-control" id="sel_patient" has-feedback>
                <option ng-repeat="user in allUsers | filter:{role: 'patient'}" ng-selected="visit.patient_id == user.id ? true : false" value="{{user.id}}">{{user.name}}</option>
            </select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="newVisit(visit)">Add</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Delete Visit -->
  <div class="modal fade" id="deleteVisit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Do you really want to delete selected visit?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" ng-click="deleteObject(visit)">Yes</button>
        </div>
      </div>
    </div>
  </div>
  
</div>