<h1>Patients</h1>
<ul>
	<li ng-repeat="patient in patients">
		<span ng-hide="patient.edit">
			{{patient.name}}, {{patient.phone}}, {{patient.pin}},  {{patient.address}}
		</span>
		<span ng-show="patient.edit">
			<input type="text" ng-model="patient.name">
			<input type="text" ng-model="patient.phone">
			<input type="text" ng-model="patient.pin">
			<input type="text" ng-model="patient.address">
		</span>
		<button ng-click="toggleEdit(patient)" ng-hide="patient.edit">Edit</button>
		<button ng-click="editObject(patient)" ng-show="patient.edit">Done</button>
		<button ng-click="deleteObject(patient)">Delete</button>
	</li>
	<button ng-click="newObject()">New patient</button>
</ul>