<h1>Admins</h1>
<ul>
	<li ng-repeat="user in users | filter: {role: 'admin'}">
		<user user="user" 
			obj="obj"
			toggle-edit="toggleEdit(user)"
			edit-object="editObject(user)"
			delete-object="deleteObject(user)"></user>
	</li>
	<button access="{{'add-'+obj}}" ng-click="newObject({role: 'admin'})">New admin</button>
</ul>

<div class="container-fluid" ng-controller="patientsController">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Admins</h4>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th class="col-md-2">
            Name
          </th >
          <th class="col-md-2">
            Personal ID
          </th>
          <th class="col-md-2">
            Phone
          </th>
          <th class="col-md-2">
            Address
          </th>
          <th>
          </th>
          <th>
          </th>
        </tr>
        <tr ng-repeat="admin in users | filter: {role: 'admin'}">
          <td class="col-md-2">
            {{admin.name}}
          </td>
          <td class="col-md-2">
            {{admin.pin}}
          </td>
          <td class="col-md-2">
            {{admin.phone}}
          </td>
          <td class="col-md-2">
            {{admin.address}}
          </td>
          <td>
            <button class="btn btn-default btn-sm" ng-click="showEditModal(admin)" access="{{'edit-'+obj}}">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" ng-click="deleteObject(admin)" access="{{'delete-'+obj}}">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <button class="btn btn-success" aria-label="New Admin" data-toggle="modal" data-target="#newPatient">
    <span class="glyphicon glyphicon-plus" aria-hidden="true" access="{{'add-'+obj}}"></span> New Admin
  </button>
  
  
  <!-- Modal windows section -->
  
  <!-- Admin edit -->
  <div class="modal fade" id="editPatient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Admin</h4>
        </div>
        <div class="modal-body">
          <form role="form" data-toggle="validator" name="admin">
            <div class="form-group">
              <label for="name"><b>Name</b></label>
              <input type="text" class="form-control" id="name" placeholder="Frantisek Minarik" ng-model="admin.name" required>
            </div>
            <div class="form-group">
              <label for="pin"><b>Personal ID</b></label>
              <input type="text" class="form-control" id="pin" placeholder="821211/5574" ng-model="admin.pin" required pattern="\d{6}/\d{4}">
            </div>
            <div class="form-group">
              <label for="phone"><b>Phone</b></label>
              <input type="text" class="form-control" id="phone" placeholder="777555333" ng-model="admin.phone" required pattern="\d{9}">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Fricova 4444, Brno" ng-model="admin.address">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="editObject(admin)" ng-disabled="form.$invalid">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- New admin -->
  <div class="modal fade" id="newCommission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Admin</h4>
        </div>
        <div class="modal-body">
          <form role="form" data-toggle="validator" name="admin">
            <div class="form-group">
              <label for="name"><b>Name</b></label>
              <input type="text" class="form-control" id="name" placeholder="Frantisek Minarik" ng-model="admin.name" required>
            </div>
            <div class="form-group">
              <label for="pin"><b>Personal ID</b></label>
              <input type="text" class="form-control" id="pin" placeholder="951410/4574" ng-model="admin.pin" required pattern="\d{6}/\d{4}">
            </div>
            <div class="form-group">
              <label for="phone"><b>Phone</b></label>
              <input type="text" class="form-control" id="phone" placeholder="777555333" ng-model="admin.phone" required pattern="\d{9}">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Fricova 4444, Brno" ng-model="admin.address">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="modalNewObject(admin)" ng-disabled="form.$invalid">Add</button>
        </div>
      </div>
    </div>
  </div>
  
  
</div>