<!--h1>Patients</h1>
<ul>
	<li ng-repeat="user in users | filter: {role: 'patient'}">
		<user user="user" 
			obj="obj"
			toggle-edit=""
			edit-object="editObject(user)"
			delete-object="deleteObject(user)"></user>
	</li>
	<button access="{{'add-'+obj}}" ng-click="newObject({role: 'patient'})">New patient</button>
</ul-->

<div class="container-fluid" ng-controller="patientsController">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Patients</h4>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th class="col-md-2">
            Name
          </th >
          <th class="col-md-2">
            Personal ID
          </th>
          <th class="col-md-2">
            Phone
          </th>
          <th class="col-md-2">
            Address
          </th>
          <th>
          </th>
          <th>
          </th>
          <th>
          </th>
        </tr>
        <tr ng-repeat="patient in users | filter: {role: 'patient'}">
          <td class="col-md-2">
            {{patient.name}}
          </td>
          <td class="col-md-2">
            {{patient.pin}}
          </td>
          <td class="col-md-2">
            {{patient.phone}}
          </td>
          <td class="col-md-1">
            {{patient.address}}
          </td>
          <td class="col-md-1">
            <button class="btn btn-primary btn-sm" ng-click="goToPatient(patient)">Patient card</button>
          </td>
          <td class="col-md-1">
            <button class="btn btn-default btn-sm" ng-click="showEditModal(patient)" access="{{'edit-'+obj}}">Edit</button>
          </td>
          <td class="col-md-1">
            <button class="btn btn-danger btn-sm" ng-click="deleteObject(patient)" access="{{'delete-'+obj}}">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <button class="btn btn-success" aria-label="New Patient" ng-click="showNewModal()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true" access="{{'add-'+obj}}"></span> New Patient
  </button>
  
  
  <!-- Modal windows section -->
  
  <!-- Patient edit -->
  <div class="modal fade" id="editPatient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Patient</h4>
        </div>
        <div class="modal-body">
          <form role="form" data-toggle="validator" name="Patient">
            <div class="form-group">
              <label for="name"><b>Name</b></label>
              <input type="text" class="form-control" id="name" placeholder="Jan Malanik" ng-model="patient.name" required>
            </div>
            <div class="form-group">
              <label for="pin"><b>Personal ID</b></label>
              <input type="text" class="form-control" id="pin" placeholder="912408/7757" ng-model="patient.pin" required pattern="\d{6}/\d{4}">
            </div>
            <div class="form-group">
              <label for="phone"><b>Phone</b></label>
              <input type="text" class="form-control" id="phone" placeholder="777333555" ng-model="patient.phone" required pattern="\d{9}">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Fricova 4715, Brno" ng-model="patient.address">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="editObject(patient)" data-dismiss="modal" ng-disabled="Patient.$invalid">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- New patient -->
  <div class="modal fade" id="newPatient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Patient</h4>
        </div>
        <div class="modal-body">
          <form role="form" data-toggle="validator" name="Patient">
            <div class="form-group">
              <label for="name"><b>Name</b></label>
              <input type="text" class="form-control" id="name" placeholder="Jan Malanik" ng-model="patient.name" required>
            </div>
            <div class="form-group">
              <label for="pin"><b>Personal ID</b></label>
              <input type="text" class="form-control" id="pin" placeholder="912408/7757" ng-model="patient.pin" required pattern="\d{6}/\d{4}">
            </div>
            <div class="form-group">
              <label for="phone"><b>Phone</b></label>
              <input type="text" class="form-control" id="phone" placeholder="777333555" ng-model="patient.phone" required pattern="\d{9}">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" id="address" placeholder="Fricova 4715, Brno" ng-model="patient.address">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="modalNewObject(patient, {role: 'patient'})" ng-disabled="Patient.$invalid">Add</button>
        </div>
      </div>
    </div>
  </div>
  
  
</div>