<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Personal data</h4></div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <td class="col-md-1">
            Name
          </td>
          <td class="col-md-5">
            {{user.name}}
          </td>
        </tr>
        <tr>
          <td class="col-md-1">
            Personal identification number
          </td>
          <td class="col-md-5">
            {{user.pin}}
          </td>
        </tr>
        <tr>
          <td class="col-md-1">
            Phone
          </td>
          <td class="col-md-5">
            {{user.phone}}
          </td>
        </tr>
        <tr>
          <td class="col-md-1">
            Address
          </td>
          <td class="col-md-5">
            {{user.address}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="pull-left">Examinations</h4>
      <button class="btn btn-success pull-right" aria-label="New examination" ng-click="newExaminationModal()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true" access="{{'add-'+obj}}"></span> New Examination
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <tr ng-repeat="examination in examinations | filter:{patient_id: user.id}">
          <td>
            <div class="table-responsive">
              <table class="table" >
                <tr bgcolor="#87CEEB">
                  <td class="col-md-3">
                    {{examination.date}}
                  </td>
                  <td class="col-md-3">
                    {{examination.description}}
                  </td>
                  <td class="col-md-1">
                    <button class="btn btn-success btn-sm" access="add-act" ng-click="newActModal(examination)">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true" access="add-act"></span> Add act
                    </button>
                  </td>
                  <td class="col-md-1">
                    <button class="btn btn-default btn-sm" access="edit-examination" ng-click="showExaminationEdit(examination)" ng-hide="examination.edit">Show detail</button>
                  </td>
                  <td>
                    <button class="btn btn-danger btn-sm" ng-click="deleteObject(examination, '/Examinations')" access="delete-examination">Delete</button>
                  </td>
                </tr>
                <tr ng-repeat="act in acts | filter:{examination_id: examination.id}"><!-- This have to be done for all ACTS on this examination -->
                  <td class="col-md-2">
                  </td>
                  <td class="col-md-3">
                    {{act.note}}
                  </td>
                  <td></td>
                  <td></td>
                  <td><button class="btn btn-danger btn-sm" access="delete-act" ng-click="deleteAct(act)">Delete</button></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="pull-left">Commissons</h4>
      <button class="btn btn-success pull-right" aria-label="New commission" ng-click="newCommissionModal()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true" access="add-commission"></span> New Commission
      </button>
      <div class="clearfix"></div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th class="col-md-2">
            Date
          </th>
          <th class="col-md-2">
            Name
          </th >
          <th class="col-md-2">
            Note
          </th>
          <th class="col-md-2">
            Laboratory
          </th>
          <th class="col-md-2">
          </th>
          <th class="col-md-2">
          </th>
        </tr>
        <tr ng-repeat="commision in commissions | filter:{patient_id: user.id}">
          <td class="col-md-2">
            {{commision.date}}
          </td>
          <td class="col-md-2">
            {{commision.name}}
          </td>
          <td class="col-md-2">
            {{commision.note}}
          </td>
          <td class="col-md-2">
            {{commision.laboratory}}
          </td>
          <td class="col-md-2">
            <button class="btn btn-default btn-sm" access="edit-commission" ng-click="showCommissionEdit(commision)">Show detail</button>
          </td>
          <td class="col-md-2">
            <button class="btn btn-danger btn-sm" ng-click="deleteObject(commision, '/Commissions')" access="delete-commission">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  
  <!-- Modal windows section -->
  
  <!-- Examination edit -->
  <div class="modal fade" id="editExamination" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Examination</h4>
        </div>
        <div class="modal-body">
          <form role="form" data-toggle="validator" name="examination">
            <div class="form-group has-feedback">
              <label for="description"><b>Description</b></label>
              <textarea rows="5" type="text" class="form-control" id="description" placeholder="Trhani zubu, preventivni prohlidka..." ng-model="examination.description" required></textarea>
            </div>
            <div class="form-group date has-feedback">
              <label for="date"><b>Date</b></label>
              <input type="text" data-provide="datepicker" data-date-format="dd.mm.yyyy" class="form-control" id="date" placeholder="19.04.2016" ng-model="examination.date" required pattern="\d{1,2}\.\d{1,2}\.\d{4}">
            </div>
            <div class="form-group">
              <label for="recipe">Recipe</label>
              <input type="text" class="form-control" id="recipe" placeholder="Ibalgin" ng-model="examination.recipe">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editObject(examination, '/Examinations')" ng-disabled="form.$invalid">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- New examination -->
  <div class="modal fade" id="newExamination" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Examination</h4>
        </div>
        <div class="modal-body">
          <form role="form" data-toggle="validator" name="examination">
            <div class="form-group has-feedback">
              <label for="description"><b>Description</b></label>
              <textarea rows="5" type="text" class="form-control" id="description" placeholder="Trhani zubu, preventivni prohlidka..." ng-model="examination.description" required></textarea>
            </div> 
            <div class="form-group date has-feedback">
              <label for="date"><b>Date</b></label>
              <input type="text" data-provide="datepicker" data-date-format="dd.mm.yyyy" class="form-control" id="date" placeholder="19.04.2016" ng-model="examination.date" required pattern="\d{1,2}\.\d{1,2}\.\d{4}">
            </div>
            <div class="form-group">
              <label for="recipe">Recipe</label>
              <input type="text" class="form-control" id="recipe" placeholder="Ibalgin" ng-model="examination.recipe">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newObject(examination, '/Examinations')" ng-disabled="form.$invalid">Add</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Examination delete -->
  <div class="modal fade" id="deleteExamination" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Do you really want to delete selected examinations?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" ng-click="deleteObject(examination)">Yes</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- New act -->
  <div class="modal fade" id="newAct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New act</h4>
        </div>
        <div class="modal-body">
          <form role="form" data-toggle="validator" name="act">
            <div class="form-group has-feedback">
              <label for="note"><b>Note</b></label>
              <textarea rows="5" type="text" class="form-control" id="note" placeholder="Trhani osmicky vlevo dole, cisteni kanalku ..." ng-model="act.note" required></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newAct()" ng-disabled="form.$invalid">Add</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Commission edit -->
  <div class="modal fade" id="editCommission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Commission</h4>
        </div>
        <div class="modal-body">
          <form role="form" data-toggle="validator" name="commision">
            <div class="form-group has-feedback">
              <label for="name"><b>Name</b></label>
              <input type="text" class="form-control" id="name" placeholder="Vyroba rovnatek, protezy ..." ng-model="commission.name" required>
            </div>
            <div class="form-group">
              <label for="code">Code</label>
              <input type="text" class="form-control" id="code" placeholder="774455" ng-model="commission.code">
            </div>
            <div class="form-group">
              <label for="note">Note</label>
              <input type="text" class="form-control" id="note" placeholder="Note" ng-model="commission.note">
            </div>
            <div class="form-group has-feedback">
              <label for="laboratory"><b>Laboratory</b></label>
              <input type="text" class="form-control" id="laboratory" placeholder="Podlesi V 5224, Zlin" ng-model="commission.laboratory" required>
            </div>
            <div class="form-group date">
              <label for="date"><b>Date</b></label>
              <input type="text" data-provide="datepicker" data-date-format="dd.mm.yyyy" class="form-control" id="date" placeholder="24.12.2016" ng-model="commission.date" required pattern="\d{1,2}\.\d{1,2}\.\d{4}">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editObject(commission, '/Commissions')" ng-disabled="form.$invalid">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- New commission -->
  <div class="modal fade" id="newCommission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Commission</h4>
        </div>
        <div class="modal-body">
          <form role="form" data-toggle="validator" name="commision">
            <div class="form-group has-feedback">
              <label for="name"><b>Name</b></label>
              <input type="text" ng-model="commission.name" class="form-control" id="name" placeholder="Vyroba rovnatek, protezy ..." required>
            </div>
            <div class="form-group">
              <label for="code">Code</label>
              <input type="text" ng-model="commission.code" class="form-control" id="code" placeholder="774455">
            </div>
            <div class="form-group">
              <label for="note">Note</label>
              <input type="text" ng-model="commission.note" class="form-control" id="note" placeholder="Note">
            </div>
            <div class="form-group has-feedback">
              <label for="laboratory"><b>Laboratory</b></label>
              <input type="text" ng-model="commission.laboratory" class="form-control" id="laboratory" placeholder="Podlesi V. 5224, Zlin" required>
            </div>
            <div class="form-group date">
              <label for="date"><b>Date</b></label>
              <input type="text" ng-model="commission.date" data-provide="datepicker" data-date-format="dd.mm.yyyy" class="form-control" id="date" placeholder="24.12.2016" required pattern="\d{1,2}\.\d{1,2}\.\d{4}">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newObject(commission, '/Commissions')" ng-disabled="form.$invalid">Add</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Commission delete -->
  <div class="modal fade" id="deleteCommission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Do you really want to delete selected commissions?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" ng-click="deleteObject(commision)">Yes</button>
        </div>
      </div>
    </div>
  </div>
  
</div>