<span ng-hide="user.edit">
	{{user.name}}, {{user.phone}}, {{user.pin}},  {{user.address}}
</span>
<span ng-show="user.edit">
	<input type="text" ng-model="user.name" placeholder="John Smith">
	<input type="text" ng-model="user.phone" placeholder="555-78245">
	<input type="text" ng-model="user.pin" placeholder="123123/1212">
	<input type="text" ng-model="user.address" placeholder="New York">
</span>
<button access="{{'edit-'+obj}}" ng-click="toggleEdit(user)" ng-hide="user.edit">Edit</button>
<button access="{{'edit-'+obj}}" ng-click="editObject(user)" ng-show="user.edit">Done</button>
<button access="{{'delete-'+obj}}" ng-click="deleteObject(user)">Delete</button>