<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading"><h4>Commissions<h4></div>
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <th class="col-md-2">
            Description
          </th >
          <th class="col-md-2">
            Recipe
          </th>
          <th class="col-md-2">
            Date
          </th>
          <th>
            Patient
          </th>
          <th>
          </th>
          <th>
          </th>
        </tr>
        <tr ng-repeat="examination in users | filter:{doctor_id: currentUser.id}">
          <td class="col-md-2">
            {{examination.description}}
          </td>
          <td class="col-md-2">
            {{examination.recipe}}
          </td>
          <td class="col-md-2">
            {{examination.date}}
          </td>
          <td ng-controller="examinationsController">
            {{userNames[examination.patient_id]}}
          </td>
          <td>
            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#" access="{{'edit-'+obj}}" ng-click="toggleEdit(examination)" ng-hide="examination.edit">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#" access="{{'delete-'+obj}}" ng-click="deleteObject(examination)">Delete</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <button class="btn btn-success" aria-label="New Examination" data-toggle="modal" data-target="#">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Examination
  </button>
		<!--<span ng-show="examination.edit">
			<input type="text" ng-model="examination.description" placeholder="Bolesti hlavy">
			<input type="text" ng-model="examination.recipe" placeholder="Ibalgin">
			<input type="text" ng-model="examination.date">
			<select name="patient" ng-model="examination.patient_id">
				<option ng-repeat="user in allUsers | filter:{role: 'patient'}" ng-selected="examination.patient_id == user.id ? true : false" value="user.id">{{user.name}}</option>
			</select>
		</span>-->
		
		<!--<button access="{{'edit-'+obj}}" ng-click="editObject(examination)" ng-show="examination.edit">Done</button>-->
        <!--<button access="{{'add-'+obj}}" ng-click="newObject({doctor_id: currentUser.id})">New examination</button>-->
        
</div>