<h1>Examinations</h1>
<ul>
	<li ng-repeat="examination in users">
		<span ng-hide="examination.edit">
			{{examination.description}}, {{examination.recipe}}, 
			{{examination.date}}
		</span>
		<span ng-show="examination.edit">
			<input type="text" ng-model="examination.description" placeholder="Bolesti hlavy">
			<input type="text" ng-model="examination.recipe" placeholder="Ibalgin">
			<input type="text" ng-model="examination.date">
		</span>
		<button access="{{'edit-'+obj}}" ng-click="toggleEdit(examination)" ng-hide="examination.edit">Edit</button>
		<button access="{{'edit-'+obj}}" ng-click="editObject(examination)" ng-show="examination.edit">Done</button>
		<button access="{{'delete-'+obj}}" ng-click="deleteObject(examination)">Delete</button>
	</li>
</ul>
<button access="{{'add-'+obj}}" ng-click="newObject()">New examination</button>