<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="css/app.css">
  <!-- Customised and minified CSS -->
  <link rel="stylesheet" href="css/customBootstrap3.min.css">
  <!-- Data Picker CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css">
  <!-- Select Picker CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
  <!-- Landing page CSS-->
  <link href="css/landing-page.css" rel="stylesheet">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- Data Picker JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
  <!-- Select Picker JavaScript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
  <!-- Bootstrap Validator JavaScript-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.2/validator.min.js"></script>
  
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="indexController">
  <header>
    <nav class="navbar navbar-inverse navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/app/#/">
            <img alt="Brand" src="img/logo.png">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li access="show-patient"><a href="#/patients">Patients</a></li>
            <li access="show-doctor"><a href="#/doctors">Doctors</a></li>
            <li access="show-admin"><a href="#/admins">Admins</a></li>
            <!-- <li access="show-commission"><a href="#/commissions">Commissions</a></li> -->
            <!-- <li access="show-examination"><a href="#/examinations">Examinations</a></li> -->
            <li access="show-visit-doctor"><a href="#/visits-doctor">Visits</a></li>
            <li access="show-visit-patient"><a href="#/visits-patient">Visits</a></li>
            <li access="show-today"><a href="#/today">Today</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="hasUser()"><p class="navbar-text">Logged as: {{ currentUser.name }}-{{ currentUser.role }}</p></li>
            <li ng-show="hasUser()"><button type="button" class="btn btn-default navbar-btn btn-sm"><a href="#/logout" ng-click="logout()">Log Out</a></button></li>
            <li ng-hide="hasUser()"><button type="button" class="btn btn-default navbar-btn btn-sm" data-toggle="modal" data-target="#Login">Log In</button></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>
  
  <!-- Modal windows section -->
  
  <!-- Login form -->
  <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="loginController">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Login</h4>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="lead text-danger">
            {{loginErrorMessage}}
          </p>
          </div>
        </div>
        <div class="modal-body">
          <form role="form" data-toggle="validator" name="loginForm">
            <div class="form-group date has-feedback">
              <label for="date" class="control-label"><b>Username</b></label>
              <input type="text" placeholder="Username" ng-model="username" class="form-control" required>
            </div>
            <div class="form-group has-feedback">
              <label for="time"><b>Password</b></label>
              <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="login()" ng-disabled="loginForm.$invalid">Log In</button>
        </div>
      </div>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/ng-idle/angular-idle.min.js"></script>
  <script src="app.js"></script>
  <script src="crud_module.js"></script>
  <script src="users/users.js"></script>
  <script src="users/login.js"></script>
  <script src="commisions/commisions.js"></script>
  <script src="examinations/examinations.js"></script>
  <script src="visits/visits.js"></script>
  <script src="today/today.js"></script>
  <script src="services.js"></script>
  <script src="directives.js"></script>
  <script src="filters.js"></script>
  <script src="utils.js"></script>
  <script src="custom.js"></script>
</body>
</html>
